{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
          
       <div class='container'>
      <p><h3>Developed by Aparupa Das Gupta</h3></p>
       <ul>
        <li><a href='https://linkedin.com/in/aparupadg/'>LinkedIn</a></li>
        <li><a href='https://github.com/aparupadg'>GitHub</a></li>
        
      </ul>
    </div>

           
        
        </div>
     
    

{% endblock %}
{% block footer %}
 &copy; Aparupa Das Gupta; <b><a href="http://insightdatascience.com" target="_blank">Insight</a></b> Data Science 2014

{% endblock %}


