<html>
<head>
<style>
h1 {
    text-align: center;
    color: blue;
} 
p {
    text-align: left;
    color: red;
} 
.center {
    text-align: center;
    color: red;
}
.table a
{
    display:block;
    text-decoration:none;
    }

</style>
<title>Price Prediction</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
</head>
<body>
  <h1>Here is our recommendation</h1>
<br/> 
<br/> 
<form>
Recommended Price :
<input type="price" name="price" value="$100">
</form>

<br/> 
<p>Similar items</p>
<table border="1" style="width:300px"i class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>URL</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>June 10th 2014</td>
            <td><a href="https://sfbay.craigslist.org/sfc/fuo/4518606692.html">https://sfbay.craigslist.org/sfc/fuo/4518606692.html&nbsp;</a></td>
        </tr>
        <tr>
            <td>June 11th 2014</td>
            <td><a href="https://sfbay.craigslist.org/sfc/fuo/4504838533.html">https://sfbay.craigslist.org/sfc/fuo/4504838533.html&nbsp;</a></td>
        </tr>
    </tbody>

</table>

</body>
</html>


