<html>
<head>
<style>
h1 {
    text-align: center;
    color: blue;
} 
p {
    text-align: center;
    color: red;
} 
.center {
    text-align: center;
    color: red;
}
</style>
<title>Price Wizard</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
</head>
<body>
  <h1>Welcome to Price Wizard</h1>
<br/> 
<br/> 
<form name="myform" action="http://127.0.0.1:8000/landingpage.html" method="GET">
<div align="center">
<p>Select furniture items:</p>
<select name="itemdropdown">
<option value="Table">Table</option>
<option value="Chair">Chair</option>
<option value="Desk">Desk</option>
</select>
<p>Choose condition of item:</p>
<select name="conditiondropdown">
<option value="New">New</option>
<option value="Like New">Like New</option>
<option value="Used">Used</option>
</select>
<p>Choose material of item:</p>
<select name="materialdropdown">
<option value="Table">Wood</option>
<option value="Chair">Plastic</option>
<option value="Bed">Metal</option>
</select>
<br/> 
<br/> 
 <p>
   <input type='submit' name='Find Price' value='Find Price' />
 </p>
</div>
</form>

</body>
</html>


